%li{:id=>"sticker#{sticker.id}", :sticker_id=>"#{sticker.id}", :class=>"sticker", :style=>"background-color: #{ sticker.color};z-index: #{sticker.updated_at.to_i}", :form_url=>"#{edit_project_sprint_sticker_path(@project, @sprint, sticker)}", :sticker_url=>"#{project_sprint_sticker_path(@project, @sprint, sticker)}"}
  - unless sticker.user_story_id.nil? 
    %a{:href=>"#", :id=>"sticker_story#{sticker.id}", :onclick=>"$.get('#{show_dialog_project_user_story_path(@project,sticker.user_story_id)}');return false"}
      = truncate(sticker.user_story.title.html_safe, :length=>22)
  .content
    =raw auto_link(sticker.description.html_safe.gsub(/\n/, '<br />'), :urls, :target => "_blank")
    .g-clear
  =  link_to '', project_sprint_sticker_path(@project, @sprint, sticker), :remote => true, :method => :delete, :class => 'delete', :confirm => "Are you sure?"
  
    
  .colors
    =  link_to '', project_sprint_sticker_path(@project, @sprint, sticker, :sticker => {:color => '#FAA6EA'}), :remote => true, :method => 'put', :class => 'pink'
    =  link_to '', project_sprint_sticker_path(@project, @sprint, sticker, :sticker => {:color => '#BFFC7F'}), :remote => true, :method => 'put', :class => 'green'
    =  link_to '', project_sprint_sticker_path(@project, @sprint, sticker, :sticker => {:color => "#FFF046"}), :remote => true, :method => 'put', :class => 'yellow'
    =  link_to '', project_sprint_sticker_path(@project, @sprint, sticker, :sticker => {:color => "#A9BAFA"}), :remote => true, :method => 'put', :class => 'blue'  
