-javascript('dashboard')
-stylesheet('dashboard')
.backlog
  %center
    %span.h3 Back Log
    %a{:href => "#", :onclick => "Dashboard.toggleBacklog();return false;"} Close
  %ul.state{:id=>"backlog"}
    - @sprint.project.stickers.where("user_id IS NULL").each do |sticker|
      = render :partial => sticker

%div{:id=>"newsticker", :style=>"display:none;"}
  %li.sticker.new{:url=>"#{project_sprint_stickers_path(:project_id=>@project.alias, :sprint_id=>@sprint.id)}", :style=>"z-index:99999999"}
    .content
      As a user I want


%table.project{:cellpadding => "0", :cellspacing => "0", "project-id" => @sprint.project.alias, "sprint-id" => @sprint.id}
  %tr
    %th.noborder
    - @sprint.project.states.each do |state|
      %th= state.name
  - @sprint.project.members_with_first(current_user).each do |user|
    %tr.user{"user-id" => user.id}
      %td{:class => "noborder #{user == current_user ? 'current-user' : ''}", :valign => "top"}
        %br/
        %div= image_tag user.gavatar_url, :size => "80x80"
        = user.name || user.email
        %br/
        %br/
        .float-right.new-sticker= image_tag '/images/sticker.png', :height => 40
      - states_size = project.states.size
      - @sprint.project.states.each do |state|
        %td{:class => "column #{user == current_user ? 'current-user' : ''}", :id => state.id, :valign => "top"}
          %ul.state{:id=>"stickers", :state_id => state.id, :user_id => user.id}
            - user.stickers.for_sprint(@sprint.id).by_state(state.id).each do |sticker|
              = render :partial => sticker