- title( "#{@project.name} dashboard")
- menu('project')
- javascript('project.show')
- stylesheet('project.show')
%center
  %h1= @sprint.name
  
  .project_header
    %a{:href=>"#", :onclick=>"Dashboard.toggleBacklog();return false;"} Backlog
    %a{:href=>"#", :onclick=>"$('#sprint_goal').toggle();return false;"} Goal
  
  %div{:id=>"sprint_goal", :class=>"form"}
    %center= "#{@sprint.start_at.strftime('%m/%d/%Y')} - #{@sprint.end_at.strftime('%m/%d/%Y')}"
    = raw @sprint.description.gsub(/\r/, '<br/>') unless @sprint.description.blank?
  
    %center
      %a{:href=>"#", :onclick=>"$('#sprint_goal').hide();return false;"} Hide
  .g-clear-20  
%div{:id=>"project#{@project.id}"}
  = render :partial => "/projects/dashboard", :locals =>{:project => @project}

%div{:id=>"user_story_dialog", :style=>"display:none;"}